/* styles for repository homepage from TP2 */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: black;
    font-size: 20px;
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    font-size: clamp(3rem, 6vw, 3rem);
    line-height: 1.1;
}

header,
section {
    min-height: 60vh;
    width: min(420px, 90vw);
    background-color: #f8c8dc;
    margin: 1rem;
    padding: 3rem;
    box-shadow: 0px 5px 10px #333;
}

header {
    display: flex;
    align-items: center;
    margin: 2rem auto;
}

header h1 {
    flex-grow: 1;
    text-align: center;
}

h2 {
    font-size: 2rem;
}


section {
    background-color: #f8c8dc;
}

#coolPic img {
    width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* centers horizontally */
    gap: 2rem;
    padding: 2rem;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
}