/* styles for repository homepage from TP2 */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

* {
    box-sizing:border-box;
}

body {
    background-color:aquamarine;
    font-family: "Playwrite NZ Basic", serif;
    font-weight: 400;
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;
    ling-height: 0.9em;
}

header,
section {
    height: 90vh;
    width: 60vh;
    background-color: white;
    float: left;
    margin: 1rem;
    padding: 3rem;
    box-shadow: 0px 5px 10px #333;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    flex-grow: 1;
    text-align: center;
}

section {
    background-color: #f0eedd;
}

#coolPic img {
    width: 100%;
    height: auto;
}
