/* GENERAL */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: #000;
}

h1, h2 {
    margin: 0 0 15px;
}

/* HEADER */
header {
    background: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 12px;
    font-weight: 500;
    text-decoration: none;
}

/* SECTION STYLING */
.section {
    padding: 60px 10%;
    /* remove rounded corners */
    border-radius: 0;
}

.white-section { background: white; color: black; }
.black-section { background: black; color: white; }
.pink-section  { background: #FFC9D9; color: black; }

/* ABOUT SECTION */
.about-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.profile-pic {
    width: 260px;
    height: auto;
    border-radius: 25px;
}

/* DESCRIPTION TEXT */
.section-desc {
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 25px;
}

/* BI-SCRIPTUAL GRID (4 COLUMN) */
.poster-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.poster-grid img {
    width: 100%;
    max-width: 300px;
    
}

/* SLIA GRID → 4 COLUMNS */
.s-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.s-grid img {
    width: 100%;
    max-width: 300px;
    
}

/* ORIOBB GRID → 5 COLUMNS*/
.oriobb-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.oriobb-grid img {
    width: 100%;
    max-width: 300px;
    
}

/* VIDEO ROW */
.video-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.video-row iframe {
    width: 100%;
    height: 260px;
    border-radius: 20px;
    border: none;
}

/* FOOTER */
.footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 25px 0;
}

/* FADE-IN ANIMATION */
.fade {
    opacity: 0;
    animation: fadeIn 1.4s ease forwards;
}
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(25px); }
    100% { opacity: 1; transform: translateY(0); }
}
