body {
  background: #2f2a2a;
  color: white;
  font-family: Arial;
}

.card {
  background: #111;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
}

button {
  margin: 5px;
}

.futureGrid {
  display: flex;
  gap: 20px;
}

.hourlyGrid {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.hourCard {
  background: #444;
  padding: 10px;
  min-width: 80px;
}

.hidden {
  display: none;
}